<div class="form-container">
    <div class="errors">
        <%= @comment.errors.full_messages.join(", ") %>
    </div>

<%= form_for @comment do |f| %>

    <div class="input-container">
        <%= f.label :body%>
        <%= f.text_area :body, {rows: 10, cols: 100, placeholder: "Enter the full Post text here"}  %>
    </div>

    <%= f.submit %>
<% end %>