<div class="user-form-container">
    <div class="user-form">
        <h1>User password change test</h1>
        <%= form_tag update_password_path, method: :patch do %>

          <%= password_field_tag :password, nil, placeholder: "Old password" %>

          <%= password_field_tag :new_password, nil, placeholder: "New password" %>

          <%= password_field_tag :new_password_confirmation, nil, placeholder: "new password confirmation" %>

          <%= submit_tag "Submit", {class: "button"} %>
        <% end %>
    </div>
</div>
