
<div class="post-container">
    <h1><%= @post.title.titleize %></h1>

    <p>
        <%= @post.body %>
    </p>
    <% if @post.user %>
        <p class="by-line">
            Created by: <%= @post.user.full_name %>
        </p>
    <% else %>
        <p class="by-line">
            Anonymous...
        </p>
    <% end %>
    <%= link_to "Update", edit_post_path(@post) %>
    |
    <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
</div>

<h3>Comments</h3>
<% @post.new_first_comments.each do |com| %>
    <div class="comment">
        <%= com.body %>
        <p class="by-line">
            Comment from: <%= com.user.full_name if com.user %>
        </p>
        <%= link_to "Delete", post_comment_path(@post, com),
        method: :delete,
        data: {confirm: "Are you sure?"}%>
        <hr>
    </div>
<% end %>

<h3>Comment</h3>
<div class="form-container">
    <div class="errors">
        <%= @comment.errors.full_messages.join(", ") %>
    </div>
<%= form_for [@post, @comment] do |f| %>
<div class="input-container">
    <%= f.text_area :body, {rows: 10, cols: 100, placeholder: "Enter the full comment text here"}  %>
</div>
<%= f.submit %>
<% end %>

