
<div class="post-container">
    <h1><%= @post.title.titleize %></h1>

    <p>
        <%= @post.body %>
    </p>
    <% if @post.user %>
        <p class="by-line">
            Created by: <%= @post.user.full_name %>
        </p>
    <% else %>
        <p class="by-line">
            Anonymous...
        </p>
    <% end %>
    <p>
      Tags: <%= @post.tags.map {|t| t.title}.join(", ") %>
    </p>
    <% if @favorite.present? && @favorite.persisted? %>
      <%= link_to fa_icon("star"), post_favorite_path(@post, @favorite), method: :delete, class: "bright-star" %>
    <% else %>
      <%= link_to fa_icon("star-o"), post_favorites_path(@post), method: :post, class: "grey-star" %>
    <% end %>
    <% if can? :manage, @post %>
        <%= link_to "Update", edit_post_path(@post) %>
        |
        <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
</div>

<h3>Comments</h3>
<% @post.new_first_comments.each do |com| %>
    <div class="comment">
        <%= com.body %>
        <p class="by-line">
            Comment from: <%= com.user.full_name if com.user %>
        </p>
        <% if (can? :manage, com) || (can? :manage, @post) %>
            <%= link_to "Delete", post_comment_path(@post, com),
            method: :delete,
            data: {confirm: "Are you sure?"}%>
        <% end %>
        <hr>
    </div>
<% end %>

<% if user_signed_in? %>
    <%= render "comment" %>
<% end %>

